.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 20px;
}

.fizzBuzzList {
	text-align: center;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 5px 26px 0 rgba(67, 94, 131, 0.15);
	border-radius: 15px;
	height: 200px;
	width: 30vw;
	overflow: auto;
	padding: 15px;
}

.fizzBuzz__title {
	font-size: 1.1rem;
	line-height: 1.5;
	color: #0077d5;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	padding: 10px;
	padding-bottom: 30px;
}

.horizontalDivider {
	display: block;
	height: 1px;
	width: 50%;
	margin: 20px auto;
	background-color: rgba(123, 148, 163, 0.25);
}
