.listItem__fizz,
.listItem__buzz,
.listItem__fizzBuzz,
.listItem__number {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	border-radius: 9px;
}

.listItem__fizz {
	color: #0b85e5;
}

.listItem__buzz {
	color: #7cc305;
}

.listItem__fizzBuzz {
	color: #cf0000;
}

.listItem__number {
}

li:hover {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 5px 26px 0 rgba(124, 147, 180, 0.15);
}
